# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore python run file
__pycache__
*.pyc

# Ignore my own files
/log/*
/data/*
/script/*
/share_client/*

/config.py
/analysis.py
/test.py
/update.py
/drop.py

/backtest/*
