# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore log
/log/*
/dividend/*

# Ignore python run file
__pycache__
*.pyc
__main__.py

# Ignore my own files
/analysis.py
/test.py
/setting.py
/update.py
/result/*
/script/*
